@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-card
      width: 630px
      &__img
        height: 100%
        width: 100%
        object-fit: cover
      &__list
        width: 50%
      &__p
        max-width: 90%
        font-size: 13px
      &__room
        margin-top: 27px
      &__old-price
        margin-top: 23px
    &-mincard
      &__img
        object-fit: cover
  .footer
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 991px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 96px
    &__image
      width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: min(74px)
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .newsletter
    padding: 72px 0 73px 0
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 57px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
    padding: 29px 23px
    &__per-room
      margin-top: -3px
    &__info
      margin-bottom: 8px
  .map
    width: 340px
  .reviews
    &-slider
      &__button
        &--prev
          left: 1px
          top: 172px
        &--next
          right: 1px
          top: 172px
      &__item
        max-width: 580px
    &__title
      font-size: 30px
      margin-bottom: 47px
  .activities
    padding: 30px 0 50px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      max-width: 200px
  .packages
    &__title
      font-size: 30px
      margin-bottom: 50px
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, 2fr)
      max-height: 100%
    &-card
      width: 100%
      max-width: 700px
  .footer
    padding-top: 64px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-template-rows: 125px 170px 250px 320px 100px
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      margin-top: 1px
    &__title
      &--inline
        margin: 0 44px 0 21px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin: 15px 0px 0px 47px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      padding: 0
      margin: 3px 0 0 0
    &__legal
      grid-column: span 2
      padding: 0
      margin: 3px 0px 0px 27px
    &__additional
      grid-column: span 2
      padding: 0
      margin: 3px 0px 0 -35px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin: 72px 0 0 -1px
      &-form
        grid-column: span 5
        grid-row: 4
        margin: 87px 0 0 -1px
    &__form
      max-width: 539px
    &__input
      &-group
        flex-basis: 47%
    &__disclaimer
      &-wrapper
        margin-top: 6px
      &-text
        text-align: start
        margin: 0 0 0 -3px
  .modal
    &__dialog
      padding: 33px 75px
    &__form
      min-width: 100%
    &__info
      margin-top: 10px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 70px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 20
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
          margin-right: 0
    &__user
      flex-direction: column
      justify-content: center
    &-button
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 8px
      overflow: scroll
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
    margin-right: 16px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 9px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .breadcrumb-list
    padding-top: 23px
    padding-bottom: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  iframe
    width: 100%
  .newsletter
    max-height: 320px
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  #subscribe-error
    top: 175px
    left: 0
  .subscribe
    &__button
      left: 285px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 48%
    height: 255px
  .packages
    &-wrapper
      row-gap: 20px
      column-gap: 20px
    &-card
      &__list
        width: 50%
        padding: 20px
        margin: 0
      &__title
        margin-bottom: 20px
      &__p
        font-size: 12px
        margin: 0
        max-height: 152px
      &__room
        margin-top: 45px
      &__old-price
        margin-top: 15px
      &__button
        position: static
        width: 100%
        margin-top: 25px
    &-mincard
      &__list
        padding: 22px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__disclaimer
      &-wrapper
        margin-top: 50px
  .modal
    &__dialog
      padding: 33px 70px
    &__form
      min-width: 100%
    &__button
      margin-bottom: 20px
@media (max-width: 576px)
  .container
    max-width: 87.5%
  .logo
    &__image
      width: 99px
  .navbar
    height: 70px
    &-top
      padding-top: 24px
      padding-bottom: 25px
  .booking
    padding: 27px 23px
    margin-bottom: 10px
  .hotel
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
    &-info
      padding-bottom: 40px
  .newsletter
    padding: 0px 0 0px 0
    &-wrapper
      width: 87%
      height: 320px
      padding: 72px 0 73px 0
      font-weight: 300
      font-size: 20px
      line-height: 25px
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-top: 5px
      &__strong
        font-size: 30px
        line-height: 38px
        margin-top: 5px
    &__subscribe
      margin-bottom: 11px
      font-weight: bold
      font-size: 12px
      line-height: 15px
  .subscribe
    width: 100%
    &__input
      font-family: Mulish
      font-style: normal
      font-weight: 300
      font-size: 14px
      line-height: 18px
      color: #BDBDBD
      padding-left: 19px
    &__button
      left: auto
  #subscribe-error
    top: 240px
    left: 0
  .reviews
    &__title
      padding: 0 30px
      margin: 28px auto 42px auto
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &-slider
      &__text
        text-align: left
      &__button
        &--prev
          margin-left: -91px
        &--next
          margin-right: -91px
  .activities
    padding-top: 11px
    padding-bottom: 70px
    &__title
      margin-bottom: 36px
      font-family: Mulish
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
    height: 255px
    &__title
  .packages
    &__title
      font-size: 24px
    &-wrapper
      grid-template-columns: 100%
      grid-template-rows: 6fr
      max-height: 100%
    &-card
      grid-column: auto
      height: 500px
      &__img
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        overflow: hidden
        width: 100%
        height: 250px
      &__list
        width: 100%
        height: 250px
        margin-top: 250px
        padding: 20px
      &__p
        display: none
      &__stars
        display: none
      &__title
        margin-bottom: 10px
      &__room
        margin: 0
      &__old-price
        margin-top: 10px
      &__button
        position: static
        width: 100%
        margin-top: 11px
    &-mincard
      height: 500px
      &__img
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 100%
        height: 250px
        object-fit: cover
        align-items: center
      &__list
        width: 100%
        margin-top: 250px
      &__title
        margin-bottom: 10px
      &__old-price
        margin-top: 10px
      &__button
        position: static
        width: 100%
        margin-top: 11px
    &__flash-offer
      position: absolute
      left: 0
      top: 26px
      padding: 8px 21px 8px 11px
      color: $light
      background-color: $primary
      border-radius: 0px 4px 4px 0px
      font-weight: 600
      font-size: 12px
      line-height: 15px
      z-index: 10
  .footer
    padding-top: 30px
    &-wrapper
      grid-template-rows: 125px 63px 109px 164px 210px
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--inline
        margin: -26px 0px 0px 0px
        width: 180px
      &--mb-3
        margin-bottom: 24px
    &__social
      &-network
        display: block
        grid-row: 2
        grid-column: 1
        margin: 0
        margin-top: 21px
      &-links
        width: 80px
        margin: 21px 0 0 2px
    &__additional
      grid-row: 4
      grid-column: 1
      margin: -4px 0 0 0
    &__categories
      grid-row: 5
      grid-column: 1
      margin: -6px 0 0 0
    &__legal
      grid-row: 3
      grid-column: 1
      margin: -12px 0 0 0
    &__contact
      width: 300px
      &-details
        grid-row: 6
        grid-column: 1
        margin: 2px 0 0 -1px
      &-form
        grid-row: 7
        grid-column: 1
        margin: -4px 0 0 -1px
    &__icon
      &-wrapper
        margin: 1px -11px 0 16px
    &__ul
      &--margin
        margin: -5px 0 0 8px
    &__item
      &--mb-2
        margin-bottom: 22px
        margin-left: -20px
    &__text
      min-width: 280px
      margin-top: 10px
      line-height: 22px
    &__disclaimer
      min-height: 47px
      &-text
        grid-column: 1
        grid-row: 8
        margin: 0
      &-img
        grid-column: 1
        grid-row: 8
        margin-top: 25px
        margin-left: 0
    &__form
      margin: -9px 0 0 0
      position: relative
    &__info
      position: absolute
      top: 267px 
    &__button
      margin-top: 23px
    &__disclaimer
      &-wrapper
        margin: 29px 0 20px -5px
      &-link
        margin: 0 2px 0 4px
      &-img
        left: 4px
        bottom: -35px
  .modal
    &__dialog
      padding: 30px 20px
    &__form
      min-width: 250px
    &__button
      margin-bottom: 20px
@media (max-width: 480px)
  .navbar
    &-button
    &-menu
      &__item
        margin-bottom: 19px
        &--mobile
          &_visible
            max-width: 100%
    &__search
      margin: auto
      margin-top: 8px
      margin-bottom: 20px
      max-width: 88%
  .hotel
    padding-bottom: 39px
    &-right
      min-height: 403px
  .map
    height: 173px
  iframe
    width: 100%
    height: 173px
  .activities
    &__card
      &--margin
        margin-bottom: 28px
  .modal
    &__dialog
      padding: 30px 20px
    &__form
      min-width: 200px
    &__button
      margin-bottom: 20px